<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<form action="insert-lib" method="post">
		
		<label>Id :</label>
			<input type="number"  readonly name="id" th:value="${Libb.id}">
		<br><br>
		
		<label>Name :</label>
		<input type="text" name="name" th:value="${Libb.name}">
		<br><br>
		
		<label>BookNames :</label>
		<input type="text" name="booknames" th:value="${Libb.booknames}">
		<br><br>
		
		<label>subject :</label>
		<input type="text" name="subject" th:value="${Libb.subject}">
		<br><br>
		
		<label>publisher :</label>
		<input type="text" name="publisher" th:value="${Libb.publisher}">
		<br><br>
		
		<button type="submit">Submit</button>
		
	</form>
	
	

</body>
</html>